<li>
  <%= comment.message %> -
  <small>Submitted on:- <%= comment.created_at.to_time.utc %>, by <%= comment.user.username %> </small> 
  <%= simple_form_for [comment, Comment.new] do |f| %>
	  <div class="form-group">
	    <%= f.text_area :message, placeholder: "Add a Reply", class: "form-control" %>
	  </div>
      <p class="text-right"><%= f.submit "Reply", class:'btn btn-primary btn-sm'%></p>
  <% end %>
  <ul>
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>
</li>