<%= simple_form_for @post do |f| %>
  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
  </div>
  <div class="form-group" >
    <%= f.input :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit Post", class: "btn btn-primary" %>
  </div>
    <%= link_to("Delete", method: :delete, class: "btn btn-danger",data: {confirm: "Are you sure you want to delete this?"}) %>
<% end %>