<%= link_to "Previous", root_path, class: "previous" %>
<div class="row">
  <div class="col-lg-8">
    <%= link_to "Edit Post", edit_post_path, class: "btn btn-primary mb-2" %>
  <h1 class="mt-4"><%= @post.title.humanize %></h1>

  <p class="lead">
    by
    <%= @post.user.username %>
  </p>

  <hr>
  <p>Posted on <%= @post.created_at %></p>

  <hr>
  <p class="lead"><%= @post.content %></p>
  <hr>
    <h5>Leave a Comment:</h5>
      <%= simple_form_for [@post, Comment.new] do |f| %>
        <%= f.text_area :message %><br/>
        <%= f.submit "Add Comment" %>
      <% end %>
  <ul>
    <%= render partial: "/comments/comment", collection: @post.comments %>
  </ul>
</div>