<%= link_to "Previous", root_path, class: "previous" %>
<div class="row">
  <div class="col-lg-8">
    <%= link_to "Edit Post", edit_post_path, class: "btn btn-primary mb-2" %>
    <%= link_to "Delete Post", post_path, method: :delete, class: "btn btn-danger mb-2" %>
  <h1 class="mt-4"><%= @post.title.humanize %></h1>

  <p class="lead">
    by
    <%= @post.user.username %>
  </p>

  <p>Posted on <%= @post.created_at %></p>

  <p class="lead"><%= @post.content %></p>
    <div class="border p-3 mb-3 bg-grey">
    <h5>Leave a Comment:</h5>
      <%= simple_form_for [@post, Comment.new] do |f| %>
        <div class="form-group">
          <%= f.text_area :message, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit "Add Comment", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  <ul>
    <%= render partial: "/comments/comment", collection: @post.comments %>
  </ul>
</div>